<section class="bg-white">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="w-full text-center text-3xl font-bold mb-8">Products</h1>
    <div class="d-flex justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 max-w-fit text-white py-2 px-4 w-full mt-2 rounded"
        (click)="createNewOrder()"
      >
        Create New Order
      </button>
      <button
        *ngIf="selectedProducts?.length"
        class="bg-blue-500 hover:bg-blue-700 max-w-fit mx-7 text-white py-2 px-4 w-full mt-2 rounded"
        (click)="openAddOrderPopup()"
      >
        Add Customer Details
      </button>
    </div>
    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 sm:grid-cols-2 xl:grid-cols-4 lg:grid-cols-3"
    >
      <div
        class="w-full"
        *ngFor="let product of products; trackBy: trackByProductId"
      >
        <div
          class="rounded overflow-hidden shadow-lg bg-white"
          [ngClass]="{ 'bg-red-100': product.AvailablePieces < 10 }"
        >
          <img
            class="w-full h-48 object-cover"
            [src]="product.ProductImg"
            [alt]="product.ProductName + ' Image'"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ product.ProductName }}</div>
            <p class="text-gray-700 text-base mb-2">
              Price: ${{ product.ProductPrice }}
            </p>
            <p class="text-gray-700 text-base mb-2">
              Available Pieces: {{ product.AvailablePieces }}
            </p>

            <input
              type="number"
              [(ngModel)]="quantityValues[product.ProductId]"
              class="w-full py-2 rounded-lg border border-gray-200"
              min="1"
              placeholder="Update Product Quantity"
            />
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 w-full mt-2 rounded"
              (click)="
                editProductQuantity(
                  product.ProductId,
                  quantityValues[product.ProductId]
                )
              "
              [disabled]="!quantityValues[product.ProductId]"
            >
              Update Quantity
            </button>
            <button
              *ngIf="createOrder"
              class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 w-full mt-2 rounded"
              [ngClass]="{
                'bg-red-500 hover:bg-red-700': isProductAdded(product.ProductId)
              }"
              (click)="addOrRemoveProduct(product)"
            >
              {{
                isProductAdded(product.ProductId)
                  ? "Remove from Order"
                  : "Add to Order"
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
